# $OpenBSD: bgpd.conf,v 1.15 2018/11/17 17:22:38 deraadt Exp $
# example bgpd configuration file, see bgpd.conf(5)

# global configuration
AS {{bgp["asn"]}} 

router-id {{bgp["router-id"]}}

{% for network in bgp["network"] %}
network {{network}}
{% endfor %}

{% for group in bgp["groups"] %}
group "{{group["name"]}}" {
        announce IPv4 unicast
        announce IPv6 none
        
        local-address   {{primary_ip}} 

        {% for neighbor in group["neighbors"] %}
        neighbor {{neighbor["ip"]}}{
                remote-as       {{neighbor["asn"]}}
                descr           "{{neighbor["description"]}}"
        }
        {% endfor %}
}
{% endfor %}

### FILTERS
# don't accept default from any peer
deny quick from any prefix 0/0


# filter out prefixes longer than 24 or shorter than 8 bits for IPv4
# and longer than 48 or shorter than 16 bits for IPv6.
#allow from any inet prefixlen 8 - 24
#allow from any inet6 prefixlen 16 - 48

# IBGP: allow all updates to and from our IBGP neighbors
#allow from ibgp
#allow to ibgp

allow from any
allow to any
