server = true
bootstrap = true
datacenter = "dahlerus"
ui = true
client_addr = "0.0.0.0"
data_dir = "/usr/local/etc/consul.d/data"
encrypt = "54hZqOoRcTqz668Cbw24BhgITnkwHoYc+ZRIQG98GRo="
log_level = "INFO"
enable_syslog = true
