{{name}} {
  jid = {{jail.id}};
  host.hostname = "{{name}}";
  {% if "ip" in jail -%}
  ip4 = new;
  ip4.addr = "{{jail.ip}}";
  interface = "{{jail.interface | default('igb3') }}"
  {% else -%}
  ip4 = inherit;
  {% endif -%}
  mount.fstab = "${jailbase}/${name}/fstab.jail";
  {% if options in jail -%}
    {% for option in jail.options -%}
    {{option}}
    {% endfor -%}
  {% endif -%}
}
